<div class="ui segment">
    {% if user_subscription == None %}
    <form class="ui form" method="POST" action="{{url_for('user_subscriptions.create_subscription')}}">
        <div class="ui field">
            <button class="ui button" type="submit">Create your first subscription</button>
        </div>
    </form>
    {% else %}
        <div class="ui form">
            <div class="ui field">
                <label>Companies you subscribed to</label>
                <div class="ui list">
                    {% for company in user_subscription.companies %}
                        <div class="ui item">
                            <form class="ui form" method="POST" action="{{url_for('user_subscriptions.unsubscribe_from_company', company_id=company.id)}}">
                                <div class="field">
                                    <label>{{company.display_name}}</label>
                                    <button type="submit">Unsubscribe</button>
                                </div>
                            </form>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endif %}
</div>
