<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Mito</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="/static/css/semantic.min.css">
    <!-- JS Libs -->
    <script src="/static/js/lib/jquery-1.12.0.min.js"></script>
    <script src="/static/js/semantic.min.js"></script>
    <script src="/static/js/index.js"></script>
    <!-- UX Styling -->
    <link rel="stylesheet" href="/static/css/ux.css">
    {% block head %}{% endblock %}
</head>

<body>
