<div class="ui list">
    <div class="ui item">
        <a href="{{url_for('articles.get_articles_by_state', article_state='unread')}}">Unread Articles</a>
    </div>
    <div class="ui item">
        <a href="{{url_for('articles.get_articles_by_state', article_state='read')}}">Read Articles</a>
    </div>
    <div class="ui item">
        <a href="{{url_for('articles.get_articles_by_state', article_state='recommended')}}">Recommended Articles</a>
    </div>
    <div class="ui item">
        <form class="ui form" method="POST" action="{{url_for('articles.populate_by_state')}}">
            <input type="submit" class="ui button" value="Populate Unread Articles"></input>
        </form>
    </div>
</div>
